
/**
 * Simple Print style sheet
 */

html.print, 
body.print, 
body.print.admin-menu {
  background: #fff !important;
  color: #000;
  margin: 0 !important;
  padding: 0 !important;
}
body.print .simple-print-bar {
  background: #f8f8f8;
  border-bottom: 1px solid #ebebeb;
  height: 25px;
  padding: 6px 10px;
  line-height: 25px;
  margin-bottom: 15px;
}
body.print .simple-print-bar a {
  color: #0080ff;
  margin: 0 20px;
}
body.print .simple-print-bar a:before {
  padding-right: 5px;
  font-size: 1.5em;
  vertical-align: middle;
}
body.print .simple-print-bar a.print:before {
  content: "↧";
}
body.print .simple-print-bar a.back:before {
  content: "↶";
}
