
/**
 * Simple Print style sheet
 * All we do here is remove stuff and style the top bar
 */

html.print, 
body.print, 
body.print.admin-menu {
  background: #fff !important;
  color: #000;
  margin: 0 !important;
  padding: 0 !important;
}
body.print .page-header,
body.print #footer,
body.print .region-sidebar-first {
  display: none;
}
body.print .simple-print-bar {
  background: #f8f8f8;
  border-bottom: 1px solid #ebebeb;
  height: 25px;
  padding: 10px 10px 0;
}
body.print .simple-print-bar a {
  color: #0080ff;
  margin: 0 10px;
}
